* {
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

body {
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: whitesmoke;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px;
  background: rgba(255, 255, 255, 1); /* White background */
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.05); /* Box shadow */
}

.logo {
  width: 80px;
  height: 50px;
  margin-right: 25px;
}

.bluestock {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 60px;
  text-align: left;
  color: #1e1e1e; /* Ensure text color is set */
  margin-right: 30px; /* Space between BLUESTOCK and nav links */
}

.nav-links {
  display: flex;
  gap: 10px; /* Space between nav links */
  flex-grow: 1; /* Take up remaining space */
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 22.5px;
  color: rgba(154, 154, 154, 1); /* Text color */
  display: flex;
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
  cursor: pointer; /* Changes cursor to pointer on hover */
  text-decoration: none; /* Removes underline */
  position: relative; /* For absolutely positioning icons */
}

.media-link {
  display: flex;
  align-items: center;
  position: relative;
}

.polygon {
  position: absolute;
  top: 10px; /* Adjust as needed to align with the top right corner */
  right: 5px; /* Adjust as needed to align with the top right corner */
  width: 10px;
  height: 5px;
  fill: rgba(154, 154, 154, 1); /* Color of the polygon */
}

.support-link {
  display: flex;
  align-items: center;
  position: relative; /* Required for absolutely positioning the arrow */
}

.arrow {
  position: absolute;
  top: 10px; /* Adjust to align with the top right corner of "SUPPORT" */
  right: 5px; /* Adjust to align with the top right corner of "SUPPORT" */
  width: 9.18px;
  height: 8px;
  stroke: rgba(154, 154, 154, 1); /* Color of the arrow */
  stroke-width: 1;
  transform: rotate(-26.57deg);
}

.auth-options {
  display: flex;
  gap: 20px; /* Space between auth options */
  margin-left: auto; /* Pushes the auth options to the right */
  margin-right: 40px;
}

.sign-up-button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.5px;
  color: rgba(255, 255, 255, 1); /* Text color */
  background: rgba(63, 82, 255, 1); /* Button background color */
  border: none;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin-top: 5px;
}

.vector {
  width: 15.63px;
  height: 21.88px;
  fill: rgba(0, 0, 0, 1); /* Vector color */
  transform: rotate(90deg);
  margin-top: 12px;
  margin-left: -5px;
}

.upcomingIPOcontainer {
  width: 709px;
  height: 100px;
  margin-top: 66px; /* 146px (top position) - 80px (height of the header) */
  margin-left: 60px; /* left position */
  opacity: 1; /* Set to 1 to make it visible */
  gap: 0px;
}

.bluestockIPO {
  width: 58px;
  height: 20px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 100px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 255, 1);
}

.bracket1 {
  width: 10px;
  height: 20px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 100px;
  left: 95px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.ipo {
  width: 58px;
  height: 20px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 100px;
  left: 105px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 255, 1);
}

.bracket2 {
  width: 10px;
  height: 20px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 100px;
  left: 125px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.contentIPO {
  width: auto;
  height: 20px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 100px;
  left: 135px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.upcomingIPO {
  width: auto;
  height: 48px;
  position: absolute;
  top: 120px;
  left: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.upcomingIPOtextcontent {
  width: 709px;
  height: 21px;
  margin-top: 20px;
  position: absolute;
  left: 42px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.section1 {
  width: 1600px;
  height: 1974px;
  position: absolute;
  top: 210px;
  left: 42px;
  right: 42px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the boxes visible */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows */
  column-gap: 20px; /* Horizontal space between boxes */
  row-gap: 30px; /* Vertical space between boxes */
  margin-right: 42px;
}

.custom-box {
  width: 450px;
  height: 350px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nova-img {
  width: 110px;
  height: 47px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 30px;
  left: 10px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.nova-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 36px;
  left: 180px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.epack-img {
  width: 72px;
  height: 72px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 20px;
  left: 550px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.epack-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 37px;
  left: 680px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.rsswamy-img {
  width: 105px;
  height: 90px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 5px;
  left: 1080px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.rsswamy-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 34px;
  left: 1250px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.oyo-img {
  width: 80px;
  height: 80px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 400px;
  left: 10px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.oyo-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 422px;
  left: 150px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.boat-img {
  width: 80px;
  height: 45px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 410px;
  left: 550px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.boat-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 415px;
  left: 680px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.cloudnine-img {
  width: 89px;
  height: 88px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 400px;
  left: 1070px;
  gap: 0px; /* This property is not applicable for a single element, it is used in flex or grid containers */
  opacity: 0px;
}

.cloudnine-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 422px;
  left: 1200px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.ola-img {
  width: 80px;
  height: 80px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 780px;
  left: 25px;
  gap: 0px;
  opacity: 0px;
}

.ola-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 800px;
  left: 150px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.mobikwik-img {
  width: 60px;
  height: 60px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 780px;
  left: 550px;
  gap: 0px;
  opacity: 0px;
}

.mobikwik-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 795px;
  left: 680px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.ixigo-img {
  width: 75px;
  height: 50px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 800px;
  left: 1080px;
  gap: 0px;
  opacity: 0px;
}

.ixigo-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 802px;
  left: 1200px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.cmr-img {
  width: 80px;
  height: 80px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1150px;
  left: 25px;
  gap: 0px;
  opacity: 0px;
}

.cmr-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1175px;
  left: 130px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.wellness-img {
  width: 100px;
  height: 70px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1155px;
  left: 550px;
  gap: 0px;
  opacity: 0px;
}

.wellness-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1168px;
  left: 685px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}

.pkh-img {
  width: 75px;
  height: 70px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1160px;
  left: 1080px;
  gap: 0px;
  opacity: 0px;
}

.pkh-heading {
  width: 220px;
  height: 36px;
  position: absolute; /* Ensures the 'top' and 'left' properties work */
  top: 1175px;
  left: 1200px;
  gap: 0px; /* Not applicable for a single element */
  opacity: 0px; /* Makes the element invisible */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: rgba(65, 75, 234, 1);
}
